$containerMaxWidth: 1045px;
$containerMinwidth: 320px;
$containerPadding: 15px;

$fontSize: 16px;
$lineHeight: 20px;
$fontfamily: 'Montserrat',
sans-serif;

$whiteColor:#fff;
$darkColor: #000;
$darkColorLight:#5B5F60;
$acentColor:#F49D9C;
$acentColorHover:#e79896;
$acentColorBold:#FF5353;
$sliderItemColor:#FDFCFF;
$btnActionColor: #FAFAFA;

$bodyColor:#F3E8FF;
$footerColor:#333637;

$headerHeight:102px;
$headerHeightMob:58px;

$boxShadow:10px 10px 20px rgba(177, 164, 212, 0.35),
-10px -10px 10px rgba(255, 255, 255, 0.15);

$boxShadowInner:-10px -10px 10px rgba(255, 255, 255, 0.15),
inset 10px 0px 20px rgba(177, 164, 212, 0.15);

$md1: 1400;
$md5: 1200;


$md2: 992.98;
$md3: 767.98;
$md4: 576.98;