.home {
   width: 100%;
   background-image: url(../img/home/home-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: $headerHeight;

   @media (min-width:1200px) {
      padding-top: 105px;
   }

   @media (min-width:1700px) {
      padding-top: 155px;
   }

   &-body {
      display: flex;
      flex-wrap: wrap;
      //padding-top: 155px;

      @media (max-width:$md4+px) {
         align-items: center;
      }

      @media (max-width:$md2+px) {
         flex-direction: column;
      }
   }

   &-col {
      @media (max-width:$md2+px) {
         &:first-child {
            margin-bottom: 42px;
         }
      }

      @media (min-width:$md2+px) {
         &:first-child {
            padding-top: 94px;
         }
      }

      @media (min-width:$md2+px) {
         flex: 1 1 50%;


         &:nth-child(2) {
            padding: 0 70px;
         }
      }

      @media (min-width:1700px) {
         padding: 0;
      }
   }

   &__imges {
      @media (min-width:1200px) {
         position: relative;
         right: -80px;
      }
   }

   &__img {
      max-width: 100%;
      object-fit: cover;
      margin-bottom: -7px;

      @media (max-width:$md2+px) {
         width: 336px;
      }
   }

   &__subtitle {
      @media (max-width:$md3+px) {
         margin-bottom: 14px;
      }
   }

   &__btn {
      @media (max-width:$md1+px) {
         padding: 18px 27px;
      }
   }

   &__decor {
      position: absolute;
      width: 100px;
      height: 90px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      animation: sheet 2s ease infinite;
   }

   &__decor-1 {
      background-image: url(../img/home/sheet-01.png);
      right: -30px;
      top: 150px;
   }

   &__decor-2 {
      background-image: url(../img/home/sheet-02.png);
      left: 50%;
      bottom: 28%;

      @media (max-width:$md3+px) {
         display: none;
      }
   }

   &__decor-3 {
      background-image: url(../img/home/sheet-03.png);
      top: 139px;
      left: 42px;

      @media (max-width:$md3+px) {
         top: 84px;
      }
   }

   &__decor-4 {
      background-image: url(../img/home/sheet-04.png);
      bottom: -36px;
      right: -42px;
      height: 70px;
      animation: unset;
   }
}

@media (min-width:$md1+px) {

   @keyframes sheet {
      0% {
         transform: translateY(0);
      }

      50% {
         transform: translateY(-10px);
      }

      100% {
         transform: translateY(0);
      }
   }
}