.product {
   &__slider {
      margin-right: -131px;
   }

   &__item {
      position: relative;
      border-radius: 20px;
      background-color: $sliderItemColor;
      box-shadow: 10px 10px 10px rgba(201, 213, 235, 0.2);
      border-radius: 25px;

      &:hover {
         transition: box-shadow 0.5s ease 0s;
         box-shadow: 15px 15px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
      }
   }

   &__item-inner {
     /* @media (max-width:$md3+px) {
         width: 240px;
      }

      @media (min-width:$md3+px) {
         width: 360px;
      }

      @media (min-width:1700px) {
         width: 400px;
      }*/

   }

   &__img {
      position: relative;

      @media (max-width:$md3+px) {
         min-height: 255px;
      }

      @media (min-width:$md3+px) {
         min-height: 360px;
      }

      @media (min-width:1700px) {
         min-height: 449px;
      }

      img {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         border-radius: 20px 20px 0 0;
      }
   }

   &__body {
      display: flex;
      justify-content: space-between;

      @media (max-width:$md2+px) {
         //@at-root: 16px;
      }

      @media (min-width:$md2+px) {
         //padding: 28px 32px;
      }
   }

   &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
   }

   &__title {
      font-weight: 500;
      margin-bottom: 17px;

      @media (max-width:$md3+px) {
         font-size: 16px;
      }

      @media (min-width:$md3+px) {
         font-size: 18px;
      }
   }

   &__price {
      font-weight: bold;
      color: $darkColorLight
   }

   &__favorite {
      cursor: pointer;

      @media (max-width:$md3+px) {
         font-size: 20px;
      }

      @media (min-width:$md3+px) {
         font-size: 35px;
      }

      &.favorite-add {
         &:before {
            background-color: $acentColor;
         }
      }
   }

   &__count {
      display: flex;
      align-items: center;
   }

   &__count-icon {
      cursor: pointer;

      &:before {
         font-size: 20px;
         line-height: 1px;
         margin: 0 4px;
      }
   }

   &__cart {
      position: absolute;
      top: 28px;
      right: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      background-color: $whiteColor;
      font-size: 32px;
      z-index: 1;


      @media (max-width:$md3+px) {
         width: 48px;
         height: 48px;
         font-size: 22px;
         padding-right: 2px;

         &:before {
            padding-right: 1px;
         }
      }
   }
}