.footer {
   background-color: $footerColor;

   @media (max-width:$md3+px) {
      padding: 52px 0;
   }

   @media (min-width:$md3+px) {
      padding-top: 66px;
      padding-bottom: 77px;
   }

   &__container {
      max-width: 1155px;
   }

   &__logo {
      margin-bottom: 45px;

      @media (max-width:$md3+px) {
         text-align: center;
      }
   }

   &__body {
      max-width: 1523px;
      margin: 0 auto;
      color: $whiteColor;
      font-size: 18px;
      line-height: 24px;


      @media (max-width:$md2+px) {
         font-size: 14px;
         line-height: 16px;
      }



      @media (max-width:1700px) {
         padding: 0 50px;
      }

      @media (max-width:$md4+px) {
         padding: 0 15px;
      }
   }

   &__body-inner {
      display: flex;

      @media (max-width:1200px) {
         flex-direction: column-reverse;
      }
   }

   &__map {
      flex: 0 0 366px;
      min-height: 291px;
      position: relative;


      @media (max-width:1200px) {
         margin-bottom: 48px;
      }

      @media (min-width:1200px) {
         margin-right: 40px;
      }
   }

   &__row {
      @media (max-width:$md3+px) {
         text-align: center;
      }

      @media (min-width:$md3+px) {
         display: flex;
         justify-content: space-between;
      }

   }

   &__content {
      @media (max-width:1300px) {
         margin-bottom: 48px;
      }

      @media (min-width:1300px) {
         flex: 0 1 858px;
      }
   }

   &__col {
      position: relative;

      @media (min-width:$md3+px) {
         &:not(:last-child) {
            margin-right: 20px;
         }
      }

      @media (max-width:$md3+px) {
         &:not(:last-child) {
            margin-bottom: 60px;
         }
      }

   }

   &__title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 24px;

      @media (max-width:$md2+px) {
         font-size: 16px;
         line-height: 18px;
      }


      &+p {
         margin-bottom: 49px;

      }
   }

   &__nav-item {
      &:not(:last-child) {
         margin-bottom: 24px;
      }
   }

   &__nav-link {
      transition: color 0.3s ease 0s;

      &:hover {
         color: $acentColor;
      }
   }

   &__social {
      margin: 0;

      .social__list {
         display: flex;
      }
   }
}