.product {

   &__body {
      display: flex;
      flex-wrap: wrap;

      @media (max-width:1200px) {
         justify-content: space-around;
      }

      @media (min-width:1200px) {
         justify-content: space-between;
      }
   }

   &__item {
      position: relative;
      border-radius: 25px;
      background-color: $whiteColor;
      margin-bottom: 32px;

      @media (max-width:$md1+px) {
         width: 234px;
      }

      @media (min-width:$md1+px) {
         width: 18%;
      }

      &:hover {
         transition: box-shadow 0.5s ease 0s;
         box-shadow: 15px 15px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
      }

      img {
         border-radius: 20px 20px 0 0;
      }
   }

   &__item-content {
      text-align: left;
      padding: 16px;
   }

   &__item-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:first-child {
         margin-bottom: 16px;
      }
   }

   &__title {
      font-size: 16px;
      line-height: 20px;
   }

   &__price {
      font-weight: bold;
      color: $darkColorLight
   }

   &__count {
      display: flex;
      align-items: center;
   }

   &__count-icon {
      cursor: pointer;

      &:before {
         font-size: 20px;
         line-height: 1px;
         margin: 0 4px;
      }
   }


   &__cart {
      position: absolute;
      top: 28px;
      right: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $whiteColor;
      font-size: 32px;
      z-index: 1;

      &:before {
         font-size: 18px;
         padding-right: 1px;
      }
   }
}

.favorite {
   display: flex;
   cursor: pointer;


   @media (max-width:$md1+px) {
      font-size: 20px;
      margin-right: 21px;
   }

   @media (min-width:$md1+px) {
      font-size: 30px;
      margin-right: 18px;
   }

   &.icon-favorite-add {

      &:before {
         color: $acentColor;
      }
   }
}