.section {
   position: relative;

   @media (max-width:$md1+px) {
      margin-bottom: 55px;
   }

   @media (min-width:$md1+px) {
      margin-bottom: 85px;
   }

   &__head {
      @media (max-width:$md2+px) {
         margin-bottom: 34px;
      }

      @media (min-width:$md4+px) {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      @media (min-width:$md2+px) {
         margin-bottom: 53px;
      }
   }

   &__action {
      @media (min-width:1700px) {
         margin-right: -140px;
      }

      span {
         margin-right: 32px;
      }

      display: flex;
      align-items:center;
   }
}