.select-form {
   position: relative;
   background: linear-gradient(90deg, #FAFAFA 0%, #F4ECFC 100%);
   box-shadow: 10px 10px 20px rgba(201, 213, 235, 0.5);
   border-radius: 25px;
   background-image: url(../img/select-bg.svg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
   margin-top: -8px;

   @media (max-width:$md3+px) {
      max-width: 335px;
      margin: 0 auto;
      margin-top: -8px;
   }

   @media (max-width:$md2+px) {
      padding: 24px 16px;
   }

   @media (min-width:$md2+px) {
      padding: 33px 47px;
   }

   &__head {
      @media (min-width:$md3+px) {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 32px;
      }
   }

   &__body {
      @media (max-width:$md3+px) {
         margin-bottom: 18px;
      }

      @media (min-width:$md3+px) {
         display: flex;
         justify-content: space-between;
         background-color: #fff;
         padding: 16px 32px;
         border-radius: 150px;
      }
   }

   &__title {
      @media (max-width:$md3+px) {
         margin-bottom: 18px;
      }
   }

   &__group {
      position: relative;
   }

   &__btn {

      @media (max-width:$md2+px) {
         font-size: 14px;
         line-height: 18px;
      }

      font-size: 19px;
      line-height: 23px;
      padding-left: 50px;
      padding-right: 50px;
   }
}

.select {
   position: relative;

   &.active {
      .select-title__arrow {
         transform: rotate(180deg);
      }
   }

   &-title {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      cursor: pointer;

      @media (max-width:$md3+px) {
         margin-bottom: 12px;
         padding: 12px 20px;
      }

      @media (max-width:$md2+px) {
         font-size: 14px;
         border: 1px solid #fff;
         border-radius: 150px;
         background-color: #fff;
      }

      @media (min-width:$md2+px) {
         font-size: 18px;
         line-height: 22px;

      }
   }

   &-title__arrow {
      display: flex;
      align-items: center;
      transition: transform 0.3s ease 0s;

      @media (max-width:$md2+px) {
         margin-left: 5px;

         &:before {
            font-size: 12px;
         }
      }

      @media (min-width:$md2+px) {
         margin-left: 18px;

         &:before {
            font-size: 14px;
         }
      }
   }

   &-options {
      display: none;
      overflow: hidden;
      position: absolute;
      z-index: 10;
      top: 100%;
      background-color: #fff;
      padding: 22px 22px 22px 37px;
      box-shadow: 10px 10px 20px rgba(201, 213, 235, 0.5);
      border-radius: 25px;

      @media (max-width:$md3+px) {
         width: 100%;
      }

      @media (min-width:1200px) {
         min-width: 100%;
         margin-top: 8px;
      }
   }

   &-options-list {
      padding: 0px 14px 0px 0px;
      text-align: left;


   }

   &-options-scroll {
      max-height: 120px;
      overflow: auto;
   }

   &-options__value {
      font-size: 14px;
      margin: 0px 0px 2px 0px;

      &:last-child {
         margin: 0px 0px 0px 0px;
      }

      &:hover {
         color: #000;
      }
   }
}

.nicescroll-cursors {
   background-color: $acentColor !important;
}