//<BUTTONS>====================================================================================================
.btn {
   display: inline-block;
   position: relative;
   padding: 10px 18px;
   font-size: 13px;
   line-height: 16px;
   font-weight: bold;
   color: $acentColor;
   border-radius: 50px;
   box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35);
   transition: background-color 0.3s ease 0s;
   outline: none;
   border: 1px solid $acentColor;

   &:hover {
      background-color: $acentColor;
      color: $whiteColor;
   }
}

.btn-action {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: $btnActionColor;
   box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);

   @media (max-width:$md3+px) {
      width: 26px;
      height: 26px;
      flex: 0 0 26px;
   }

   @media (min-width:$md3+px) {
      width: 40px;
      height: 40px;
      flex: 0 0 40px;
   }

   &:before {
      transform: rotate(-90deg);

      @media (max-width:$md3+px) {
         font-size: 10px;
      }
   }

   &:hover {
      box-shadow: 10px 10px 20px rgba(230, 107, 105, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
      transition: box-shadow 0.5s ease 0s;
   }
}

/*
.btn {
   display: inline-flex;
   padding: 10px 18px;
   background-color: $acentColor;
   color: $whiteColor;
   
   font-weight: bold;
   border-radius: 50px;
   box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35);
   transition: background-color 0.3s ease 0s;
   outline: none;

   &:hover {
      background-color: rgb(230, 107, 105);
   }

   @media (max-width:$md1+px) {
      padding: 16px 38px;
   }
}

.btn-white {
   background-color: #fff;
   border: 1px solid $acentColor;
   color: $acentColor;
   padding: 12px 19px;
   box-shadow: unset;
   font-size: 14px;
   line-height: 17px;
   transition: background 0.3s ease 0s;

   &:hover {
      background-color: $acentColor;
      color: #fff;
   }
}


*/
//</BUTTONS>====================================================================================================