.modal {
   --transition-time: 0.3s;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 1000;
   background-color: rgba(0, 0, 0, 0.5);
   cursor: pointer;
   overflow-y: auto;
   overflow-x: hidden;
   text-align: center;
   opacity: 0;
   visibility: hidden;
   transition: opacity var(--transition-time), visibility var(--transition-time);


   &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
   }

   &__body {
      position: relative;
      margin: 50px auto;
      display: none;
      vertical-align: middle;
      background-color: #fff;
      border-radius: 20px;
      cursor: default;
      text-align: left;

      @media (max-width: 1024px) {
         width: 90%;
      }
   }

   &.is-open {
      opacity: 1;
      visibility: visible;
      transition: opacity var(--transition-time), visibility var(--transition-time);
   }
}

.modal__body.modal-open {
   display: inline-block;
}

.fade {
   opacity: 0;
   transition: opacity var(--transition-time);
}

.fade.animate-open {
   opacity: 1;
   transition: opacity var(--transition-time);
}

.fadeInUp {
   opacity: 0;
   transform: scale(0);
   transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
   opacity: 1;
   transform: scale(1);
   transition: opacity var(--transition-time), transform var(--transition-time);
}

.disable-scroll {
   position: relative;
   overflow: hidden;
   height: 100vh;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
}

.modal-close {
   position: absolute;
   top: 37px;
   right: 40px;
   outline: none;

   @media (max-width:$md3+px) {
      top: 14px;
      right: 17px;
   }

   &:before {
      color: #E6E6E6;
   }
}


.get-code,
.recovery {

   &__body {
      padding: 35px;
      text-align: center;

      @media (min-width:$md3+px) {
         padding: 55px 55px 0 55px;
      }
   }

   &__title {
      font-size: 18px;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 25px;
      color: #515151;

      @media (min-width:$md3+px) {
         font-size: 22px;
         line-height: 27px;
      }
   }

   &__label {
      input {
         text-align: center;
      }
   }

   &__block {
      display: flex;
      justify-content: center;

   }

   &__block--item {
      width: 35px;
      height: 35px;
      flex: 0 0 35px;
      border-bottom: 1px solid #C4C4C4;

      &:not(:last-child) {
         margin-right: 20px;
      }
   }

   &__text {
      font-size: 20px;
      line-height: 24px;
      color: #B4B4B4;

      @media (max-width:$md3+px) {
         font-size: 14px;
         line-height: 18px;
         margin-bottom: 18px;
      }
   }

   &__btn {
      position: relative;

      @media (min-width:$md3+px) {
         padding-top: 24px;
         padding-bottom: 24px;
         bottom: -40px;
      }
   }

   .input {
      @media (max-width:$md2+px) {
         max-width: 285px;
         margin: 0 auto;
      }
   }

}

.get-code__input[type="tel"] {
   margin-bottom: 26px;
}

.recovery {
   &__title {


      font-size: 24px;
      line-height: 28px;
      margin-bottom: 22px;

      @media (min-width:$md3+px) {
         font-size: 42px;
         line-height: 51px;
         margin-bottom: 38px;
      }
   }

   &__text {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 14px;

      @media (min-width:$md3+px) {
         font-size: 22px;
         line-height: 27px;
         margin-bottom: 44px;
      }

      span {
         display: block;
      }
   }

   .input {
      @media (max-width:$md2+px) {
         max-width: 285px;
         margin: 0 auto;
         margin-bottom: 32px;
      }

      @media (min-width:$md3+px) {
         margin-bottom: 84px;
      }

   }

   &__btn {
      @media (max-width:$md3+px) {
         padding-left: 30px;
         padding-right: 30px;
      }
   }

   &__close {
      top: 27px;
      right: 27px;
   }
}

.signin-sms__wrap {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 auto;
   padding: 0;
   transition: opacity 0.3s ease;
   margin-bottom: 30px;
}

.signin-sms__wrap input {
   width: 35px;
   height: 35px;
   flex: 0 0 35px;
   border-bottom: 1px solid #C4C4C4;
   text-align: center;

   @media (max-width:$md3+px) {
      width: 25px;
      height: 25px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
      flex: 0 0 25px;
   }

   &:not(:last-child) {
      margin-right: 20px;

      @media (max-width:$md3+px) {
         margin-right: 10px;
      }
   }
}

.signin-sms__wrap input:not(:first-child) {
   margin-left: 1%;
}