.pagging {
  margin-top: 54px;
}

.pagging__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagging__arrow {

  &:before {
    color: $acentColor;
    font-size: 16px;
  }

  &-prev {
    transform: rotate(90deg);
  }

  &-next {
    transform: rotate(-90deg);
  }
}

.pagging-list {
  display: flex;

  li {
    margin: 0px 5px;
  }

  li.active {
    a {
      background-color: $acentColor;
      color: #ffffff;
      padding: 1px 5px;
    }
  }
}

.pagging__link {
  color: #7c7373;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  padding: 0 7px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $acentColor;
    color: #ffffff;
    padding: 0 7px;
  }
}