.page-catalog {
   .product__item {
      @media (min-width:1200px) {
         margin-bottom: 32px;
      }
   }

   @media (max-width:$md4+px) {
      .product__wrapper {

         display: flex;
         justify-content: space-around;
         flex-wrap: wrap;
         margin-left: 0;
      }

      .product__item {
         margin-bottom: 32px;
      }
   }
}