@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?hec6mq');
  src:  url('fonts/icons.eot?hec6mq#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?hec6mq') format('truetype'),
    url('fonts/icons.woff?hec6mq') format('woff'),
    url('fonts/icons.svg?hec6mq#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-delivery:before {
  content: "\e90e";
}
.icon-inst:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-avatar:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
}
.icon-favorite-add:before {
  content: "\e905";
}
.icon-favorites:before {
  content: "\e906";
}
.icon-location:before {
  content: "\e908";
}
.icon-serch:before {
  content: "\e909";
}
.icon-telegram:before {
  content: "\e90a";
}
.icon-whatsapp:before {
  content: "\e90b";
}
.icon-checked:before {
  content: "\e900";
}
.icon-drop:before {
  content: "\e901";
}
